.container {
  max-width: 1250px;
  margin: 0 auto;
}
.flex-60 {
  flex: 0 1 60%;
}
.flex-30 {
  flex: 0 1 30%;
}
.active {
  background-color: lightgreen;
}

.width-40 {
  width: 40%;
  margin: 0 auto;
}
.width-50 {
  width: 50%;
  margin: 0 auto;
}

.active {
  color: green;
  outline: none;
  background-color: white;
  font-weight: 500;
  padding-top: 2px;
}

.pagi-active {
  color: white;
  outline: none;
  font-weight: 500;
  background-color: rgba($color: green, $alpha: 0.5);
}
